*.OutJob
*.Zip
/lab_1_kapustin/__Previews
/lab_1_larionov_usb_rs232/__Previews
/lab_1_pankov_usb_rs232/Project Logs for lab_1_pankov_usb_rs232
/lab_1_pankov_usb_rs232/__Previews
/lab_1_samarin_usb_rs485/__Previews
/lab_1_zasetskiy_usb_spi/__Previews
/lab_1_zhernakov_usb_rs232/__Previews
/lab_1_lyaptsev_usb_spi/__Previews
/lab_1_archipov_usb_i2c/__Previews
