*.OutJob
*.Zip
/lab_1_kapustin/__Previews
/lab_1_larionov_usb_rs232/__Previews
/lab_1_pankov_usb_rs232/Project Logs for lab_1_pankov_usb_rs232
/lab_1_pankov_usb_rs232/__Previews
/lab_1_samarin_usb_rs485/__Previews
/lab_1_zasetskiy_usb_spi/__Previews
/lab_1_zhernakov_usb_rs232/__Previews
/lab_1_lyaptsev_usb_spi/__Previews
/lab_1_archipov_usb_i2c/__Previews
/lab_1_lyaptsev_usb-spi/__Previews
/lab_1_zhernakov_usb_rs232/History
/lab_1_demcheva_usb_rs232/History
/lab_1_demcheva_usb_rs232/__Previews
/lab_1_archipov_usb_i2c/Project Logs for lab1_arhipov_usb_i2c
/lab_1_archipov_usb_i2c/History
/lab_1_chernov_usb_i2c/History
/lab_1_chernov_usb_i2c/__Previews
/lab_1_zasetskiy_usb_spi/Project Logs for lab1_zasetskiy_usb_spi
/lab_1_zasetskiy_usb_spi/History
/lab_1_kozlov_usb_spi/Project Logs for lab1_kozlov_usb_spi
/lab_1_kozlov_usb_spi/__Previews
/lab_1_kozlov_usb_spi/History
/lab_1_kochurin_usb_rs485/Project Logs for lab1_kochurin_usb_rs485
/lab_1_kochurin_usb_rs485/__Previews
/lab_1_kochurin_usb_rs485/History
/lab_1_kondrashova_usb_rs485/Project Logs for Lab1_Kondrashova_USB_RS485
/lab_1_kondrashova_usb_rs485/__Previews
/lab_1_kondrashova_usb_rs485/History
/lab_1_kuchenov_usb_spi/Project Logs for lab1_kuchenov_usb_spi
/lab_1_kuchenov_usb_spi/__Previews
/lab_1_kuchenov_usb_spi/History
/lab_1_larionov_usb_rs232/Project Logs for lab1_larionov_usb_rs232
/lab_1_larionov_usb_rs232/History
/lab_1_lyaptsev_usb_spi/Project Logs for Lab1_LyaptsevIA
/lab_1_lyaptsev_usb_spi/History
/lab_1_lyahovskij_usb_i2c/lyahovskijMV_CP2112.PcbLib
/lab_1_lyahovskij_usb_i2c/lyahovskijMV_CP2112.SchLib
/lab_1_lyahovskij_usb_i2c/Project Logs for lab1_lyahovskij_USB_i2C
/lab_1_lyahovskij_usb_i2c/__Previews
/lab_1_lyahovskij_usb_i2c/History
/lab_1_samarin_usb_rs485/Project Logs for lab1_samarin_usb_rs485
/lab_1_samarin_usb_rs485/History
/lab_1_sokolov_usb_i2c/Project Logs for lab1_sokolov_usb_i2c
/lab_1_sokolov_usb_i2c/__Previews
/lab_1_sokolov_usb_i2c/History
/lab_1_shkabara_usb_rs232/Project Logs for lab1_shkabara_usb_rs232
/lab_1_shkabara_usb_rs232/__Previews
/lab_1_shkabara_usb_rs232/History
/lab_1_demcheva_usb_rs232/Project Logs for lab_1_demcheva_usb_rs232/*.LOG
/lab_1_demcheva_usb_rs232/*.PrjPcbStructure
/lab_1_ignatova_usb_spi/Project Logs for lab1_ignatova_usb_spi/*.LOG
/lab_1_ignatova_usb_spi/__Previews/*.SchDocPreview
/lab_1_kapustin_usb_spi/__Previews
/lab_1_kondrashova_usb_rs485/*.PrjPcbStructure
/lab_1_kondratchenko_usb_rs485/__Previews
/lab_1_konovalov_usb_rs485/Project Logs for Lab1_Konovalov_USB_RS485/*.LOG
/lab_1_pankov_usb_rs232/Project Outputs for lab_1_pankov_usb_rs232/*.drc
/lab_1_kozlov_usb_spi/Project Outputs for lab1_kozlov_usb_spi/*.html
/lab_1_kozlov_usb_spi/Project Outputs for lab1_kozlov_usb_spi/*.drc
/lab_1_konovalov_usb_rs485/__Previews
/lab_1_kozlov_usb_spi/*.PrjPcbStructure
/lab_1_konovalov_usb_rs485/*.PrjPcbStructure
/lab_1_pankov_usb_rs232/Project Outputs for lab_1_pankov_usb_rs232/*.html
/lab_1_zhernakov_usb_rs232/Project Logs for lab1_zhernakov_usb_rs232/*.LOG
/lab_1_zasetskiy_usb_spi/*.PrjPcbStructure
/lab_1_patrusheva_usb_spi/__Previews
/lab_1_vodorezov_usb_rs485/__Previews
/lab_1_somov_usb_i2c/__Previews
/lab_1_yakimenko_usb_i2c/__Previews
/lab_1_yakimenko_usb_i2c/Project Logs for lab1_yakimenko_usb_i2c/*.LOG
/lab_1_vodorezov_usb_rs485/Project Outputs for lab1_vodorezov_usb_rs485/*.html
/lab_1_vodorezov_usb_rs485/Project Outputs for lab1_vodorezov_usb_rs485/*.drc
