*.OutJob
*.Zip
/lab_1_kapustin/__Previews
/lab_1_larionov_usb_rs232/__Previews
/lab_1_pankov_usb_rs232/Project Logs for lab_1_pankov_usb_rs232
/lab_1_pankov_usb_rs232/__Previews
/lab_1_samarin_usb_rs485/__Previews
/lab_1_zasetskiy_usb_spi/__Previews
/lab_1_zhernakov_usb_rs232/__Previews
/lab_1_lyaptsev_usb_spi/__Previews
/lab_1_archipov_usb_i2c/__Previews
/lab_1_lyaptsev_usb-spi/__Previews
/lab_1_zhernakov_usb_rs232/History
/lab_1_demcheva_usb_rs232/History
/lab_1_demcheva_usb_rs232/__Previews
/lab_1_archipov_usb_i2c/Project Logs for lab1_arhipov_usb_i2c
/lab_1_archipov_usb_i2c/History
/lab_1_chernov_usb_i2c/History
/lab_1_chernov_usb_i2c/__Previews
/lab_1_zasetskiy_usb_spi/Project Logs for lab1_zasetskiy_usb_spi
/lab_1_zasetskiy_usb_spi/History
/lab_1_kozlov_usb_spi/Project Logs for lab1_kozlov_usb_spi
/lab_1_kozlov_usb_spi/__Previews
/lab_1_kozlov_usb_spi/History
/lab_1_kochurin_usb_rs485/Project Logs for lab1_kochurin_usb_rs485
/lab_1_kochurin_usb_rs485/__Previews
/lab_1_kochurin_usb_rs485/History
/lab_1_kondrashova_usb_rs485/Project Logs for Lab1_Kondrashova_USB_RS485
/lab_1_kondrashova_usb_rs485/__Previews
/lab_1_kondrashova_usb_rs485/History
/lab_1_kuchenov_usb_spi/Project Logs for lab1_kuchenov_usb_spi
/lab_1_kuchenov_usb_spi/__Previews
/lab_1_kuchenov_usb_spi/History
/lab_1_larionov_usb_rs232/Project Logs for lab1_larionov_usb_rs232
/lab_1_larionov_usb_rs232/History
/lab_1_lyaptsev_usb_spi/Project Logs for Lab1_LyaptsevIA
/lab_1_lyaptsev_usb_spi/History
/lab_1_lyahovskij_usb_i2c/lyahovskijMV_CP2112.PcbLib
/lab_1_lyahovskij_usb_i2c/lyahovskijMV_CP2112.SchLib
/lab_1_lyahovskij_usb_i2c/Project Logs for lab1_lyahovskij_USB_i2C
/lab_1_lyahovskij_usb_i2c/__Previews
/lab_1_lyahovskij_usb_i2c/History
/lab_1_samarin_usb_rs485/Project Logs for lab1_samarin_usb_rs485
/lab_1_samarin_usb_rs485/History
/lab_1_sokolov_usb_i2c/Project Logs for lab1_sokolov_usb_i2c
/lab_1_sokolov_usb_i2c/__Previews
/lab_1_sokolov_usb_i2c/History
/lab_1_shkabara_usb_rs232/Project Logs for lab1_shkabara_usb_rs232
/lab_1_shkabara_usb_rs232/__Previews
/lab_1_shkabara_usb_rs232/History
